:root {
  --primary-text: #ffffff;
  --primary-background: #122873;
  --secondary-text: #cccccc;
  --secondary-background: #0f4da0;
  --tertiary-details: #ed4b03;
  --fourth-details: #8e97a5;
  --fifth-details: #595c51;
  --sixth-details: #478dcf;
  --gradient-blue: var(--primary-background) 33%, var(--secondary-background) 66%, var(--primary-background) 100%;
  --gradient-silver: var(--fifth-details), var(--fourth-details), var(--secondary-text), var(--fourth-details), var(--fifth-details);
  --gradient-silver-button: var(--fourth-details), var(--secondary-text), var(--fourth-details);
  --gradient-white-to-clear: var(--primary-text), transparent;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  background: linear-gradient(var(--gradient-blue));
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  padding: 0 10px;
}
/* 
font sizes */

@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/orbitron/Orbitron-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Plex Sans';
  font-weight: normal;
  src: url('../fonts/plex-sans/IBMPlexSans-Regular.ttf');
} 

* a {
  text-decoration: none;
  color: black;
}

* {
  font-family: 'Orbitron';
  color: var(--secondary-text);
}

input {
  background-color: transparent;
}

h1, h2, h3 {
  font-size: 36px;
  font-family: 'Orbitron';
}

p, span {
  font-family: 'Plex Sans';
  font-weight: 100;
  font-size: 18px;
}

.decor {
  font-family: 'Orbitron';
  font-weight: 600;
  color: transparent;
  background: linear-gradient(var(--gradient-silver));
  background-clip: text;
  /* filter: drop-shadow(1px 1px var(--tertiary-details)); */
  filter: drop-shadow(1px 1px var(--tertiary-details));
  transition: filter 200ms ease;
}

.decor-active:focus, .decor-active:hover {
  filter: drop-shadow(2px 2px var(--tertiary-details));
}

.logo {
  font-family: 'Orbitron';
  font-weight: 500;
  font-size: 36px;
  margin: 8px 0;
}

.btn {
  border: 1px solid var(--tertiary-details);
  display: flex;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  background-color: transparent;
  background: linear-gradient(var(--gradient-silver-button));
  font-weight: 600;
  color: var(--primary-background);
  font-size: 16px;
  padding: 4px 8px;
  text-align: left;
  align-items: center;
  text-transform: lowercase;
  border-radius: 2px;
  box-shadow: 0px 0px transparent;
  transition: box-shadow 200ms ease;
  cursor: pointer;
}

.btn:active, .btn:focus, .btn:hover {
  box-shadow: 1px 1px var(--tertiary-details);
}

.identity-card {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 4px;
}

.identity-card * {
  grid-row: 1;
}

.signedout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-btn {
  width: 100%;
}

hr {
  margin: 4px 0;
  height: 1px;
  border: transparent;
  border-bottom: 1px solid var(--sixth-details);
}

.header {
  display: flex;
  flex-direction: column;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4px;
  align-items: center;
}

.nav * {
  grid-row: 1;
}

.logo {
  display: flex;
  align-items: center;
}

.pfp {
  width: 30px;
  height: 30px;
  border-radius: 2px;
}

/* post details */

.post-main {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  padding: 8px;
  border: 1px solid var(--tertiary-details);
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  overflow: hidden;
}

.post-main hr {
  position: relative;
  left: -8px;
  width: 120%;
}

.username {
  color: var(--secondary-text);
  width: min-content;
  transition: border 200ms ease;
}

.username:hover, .username:focus, .username:active {
  border-bottom: 1px solid var(--tertiary-details);
}

.post-header {
  display: grid;
  grid-template-columns: 4fr 4fr;
  column-gap: 6px;
  align-items: center;
}

.post-body p {
  margin: 4px 0;
}

.post-details {

}

.user {
  display: grid;
  align-items: center;
  grid-template-columns: 30px 1fr;
  column-gap: 4px;
}

.post-details p, span {
  font-size: 12px;
  margin: 4px 0;
}

.post-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4px;
}
