  @if (User.Identity.IsAuthenticated)
  {
    <div class="identity-card">
    @Html.ActionLink($"{User.Identity.Name} - Profile", "Index", "Account", null, new { @class = "btn"})
    @Html.ActionLink("Post", "Create", "Posts", null, new { @class = "btn"})
    @using (Html.BeginForm("LogOut", "Account", null, FormMethod.Post, true, new { @class = "form-btn"}))
    {
      <button type="submit" class="btn form-btn">Log Out</button>
    }
    </div>
  }
  else
  {
    <div class="identity-card signedout">
    @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn"})
    @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn"})
    </div>
  }
