<header class="header">
  <h1 class="logo">@Html.ActionLink("messageboard", "Index", "Home", null, new { @class = "decor decor-active"})</h1>
  <nav class="nav">
    @Html.ActionLink("Posts", "Index", "Posts", null, new { @class = "btn"})
    @Html.ActionLink("Topics", "Index", "Topics", null , new { @class = "btn"})
  </nav>
  @await Html.PartialAsync("../Account/_IdentityCard.cshtml")
</header>
