<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>@ViewBag.PageTitle - MessageBoard</title>
  <link href="~/css/styles.css" rel="stylesheet" runat="server" asp-append-version="true"/>
  <link href="MessageBoard.styles.css" rel="stylesheet" asp-append-version="true">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  @await Html.PartialAsync("_Header.cshtml")
    @RenderBody()
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/js/scripts.js"></script>
  @await RenderSectionAsync("_ValidationScriptsPartial", required: false)
</body>

</html>
