@model Post

<h4>@Model.Body</h4>
<p>@Html.ActionLink("Edit", "Edit", "Posts", new { id = Model.PostId })</p>
<p>@Html.ActionLink(Model.User.UserName, "Details", "Users", new { id = Model.User.UserName })</p>
<form asp-action="Delete" asp-controller="Posts" asp-route-id="@Model.PostId" method="post">
  <button type="submit">Delete</button>
</form>
