@model List<Post>
<h1 class="decor">Posts</h1>
<hr />
@foreach (Post p in Model)
{
  <div>
    <h6>@p.User.UserName</h6>
    <p>@Html.ActionLink(p.Body, "Details", "Posts", new { id = p.PostId })</p>
  </div>
}
