@model List<Topic>
<h1 class="decor">Topics</h1>
<hr />
@foreach (Topic t in Model)
{
  <div class="post-main">
    <p class="decor">@Html.ActionLink(t.Title, "Details", "Topics", new { id = t.TopicId })</p>
    <hr />
    <p>@t.PostTopics.Count post(s) in this topic</p>
  </div>
}
