@model List<TopicViewModel>
<h1 class="decor">Topics</h1>
<p class="whisper">Topics are automatically removed from the board if unused.</p>
<hr />
@foreach (TopicViewModel t in Model)
{
  @await Html.PartialAsync("_TopicSummary", t)
}
